<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1268995843-p30htill420tpg203dhetoc2jrnsidh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1268995843-p30htill420tpg203dhetoc2jrnsidh2</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ9q7SmS1El658-kOsQdCnzPZokcsa-FA</string>
	<key>GCM_SENDER_ID</key>
	<string>1268995843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bgwissam.products</string>
	<key>PROJECT_ID</key>
	<string>unitrade-firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>unitrade-firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1268995843:ios:0a5ce4d49c217f64347b36</string>
	<key>DATABASE_URL</key>
	<string>https://unitrade-firestore.firebaseio.com</string>
</dict>
</plist>